body{
    background-color: rgb(227, 173, 228);
    font-family: 'Arial';
    text-align: center;
    margin: 0;
    padding: 0;
     
}
h1{
    background-color: rgb(224, 224, 224);

    font-size: 50px;
    margin-top: 0;
    padding-top: 20px;
}   